body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}


.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#particle-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(202, 147, 147, 0.1) blur(5px);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 10px;
}

.scheda {
    background: linear-gradient(to right, #548154, #c05555, #c2c2c2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) blur(5px);

    justify-content: center;
    align-items: center;
}

.scheda1 {
    background-color: #7e7e7e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 450px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ec7b7b;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ec7b7b;
    border-radius: 50%;
    cursor: pointer;
}

#about h1 {
    color: #ffffff;
    font-size: 24px;
}

#about h3 {
    color: #ffffff;
    font-size: 18px;
}

#about p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: white;
}

.text {
    text-align: center;
}



.discord-banner {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url('img/sfondo.png');
    background-size: cover;
}

.discord-logo-wrapper {
    text-align: center;
    position: relative;
    z-index: 1; /* Assicura che la foto del profilo sia sopra il banner */
}

.discord-logo {
    position: relative;
    border-radius: 50%; /* Rende l'immagine circolare */
    width: 150px; /* Regola la larghezza dell'immagine come desiderato */
    border: none; /* Aggiunge un bordo bianco */
    margin-top: -100px; /* Solleva la foto del profilo */
    overflow: hidden; /* Nasconde parte dell'immagine che esce dal banner */
    z-index: 5; /* Assicura che la foto del profilo sia sopra il banner */
    transition: width 0.5s ease;
}

.discord-logo:hover {
    width: 180px;
}

.discord-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}


  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.100);
  }


hr {
    border: none;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    margin: 20px 0;
}

.social-link {
    position: relative;
    display: inline-block;
}

.social-link i {
    font-size: 24px;
}

.social-link:hover::after {
    content: attr(data-label);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}

.arrow-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.arrow {
    width: 25px;
    height: 25px;
    fill: black;
    transition: transform 0.3s ease;
}

.link-button:hover .arrow {
    transform: translateX(5px);
}

.play-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.play-button:hover {
    background-color: rgb(212, 212, 212);
}

.backward-button, .forward-button {
    background-color: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.backward-button:hover, .forward-button:hover {
    background-color: none;
}
